html, body{
    margin: 0;
    padding: 0;
}

.row, p, h4 {
    margin: 1vh;
}

.btn {
    margin:1vh
}

#advanced-options {
    padding: 5px;
}

#advanced-options label {
    padding-right: 50px;
}

#searchpage-container {
    margin: 0;
}

.card {
    margin: 5vh;
}

.card, .card-image img{
    height: 40vh;
    width: auto;
}

#bookpage img {
    height: 50vh;
}
