html, body{
    margin: 0;
    padding: 0;
}

.row, p, h4 {
    margin: 1vh;
}

.btn {
    margin:1vh
}

[type="radio"]:not(:checked)+span, [type="radio"]:checked+span{
    padding-right: 20px !important;
    padding-left: 28px !important;
}

#advanced-options{
    padding: 1rem 1rem 10rem 1rem;
}

#advanced-options label {
    padding-bottom: 1rem;
}

#advanced-options span, #slide-bar span{
    white-space: nowrap;
    padding-left: 2rem;
    display: inline;
}

#searchpage-container {
    margin: 0;
}

.results-search{
    height: 100vh;
}

.card {
    margin: 5vh;
}

.card a {
    color: black;
    font-size: 1.5em;
}

.card-image img{
    cursor: pointer;
}

.book-information img {
    width: 100%;
    height: auto
}

.preloader-wrapper{
    left: 45%;
    margin-top: 10%;
}

#back-to-top {
    margin: 2%;
    position: fixed !important;
    bottom: 0;
    left: 0;
    display: none;
    /* opacity: 0; */
    /* transition: opacity 500ms ease-in-out; */
}

@media only screen
and (max-device-width: 401px) {
    [type="radio"]:not(:checked)+span, [type="radio"]:checked+span{
        padding-right: 15px !important;
        padding-left: 25px !important;
    }
    .sidenav {
        height: 100% !important;
        width: 75% !important;
    }
    .container #advanced-options label span{
        font-size: 11px !important;
    }
    .container #advanced-options label {
        padding: 0 0 1rem 0;
    }
    .card, .card-image img{
        max-width: none !important;
        height: 10em;
        width: auto;
    }
    #descriptionButton{
        display: none !important;
    }
    .bookpageButton {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}


@media only screen
and (min-device-width: 402px)
and (max-device-width: 601px) {
    .card, .card-image img{
        height: 15em;
        width: auto;
    }
}


@media only screen
and (min-device-width: 602px)
and (max-device-width: 992px) {
    .card, .card-image img{
        height: 20em;
        width: auto;
    }
}

@media only screen
and (min-device-width: 993px) {
    .card, .card-image img{
        height: 15em;
        width: auto;
    }
    .preloader-wrapper{
        left: 35%;
        margin-top: 10%;
    }
}

@media only screen
and (min-device-width: 1400px) {
    .col.s12.m8.offset-m2{
        width: 50%;
        margin-left: 25%;
    }
}

@media only screen
and (orientation: landscape){
    .sidenav {
        height: 100% !important;
    }
}
