html, body{
    margin: 0;
    padding: 0;
}

.row, p, h4 {
    margin: 1vh;
}

.btn {
    margin:1vh
}

#advanced-options {
    padding: 5px;
}

#advanced-options label {
    padding-right: 50px;
}

#searchpage-container {
    margin: 0;
}

.card {
    margin: 5vh;
}

.card, .card-image img{
    height: 40vh;
    width: auto;
}

.card a {
    color: black;
    font-size: 1.5em;
}

.book-information img {
    width: 100%;
    height: auto
}


/* From Carlos Moreira on codepen.io */
.loading-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.loading-spinner {
    border: 5px solid #4CAF50;
    border-top: 5px solid transparent;
    display: block;
    padding: 15px;
    border-radius: 25px;
    -webkit-animation: rotation 1s linear infinite;
            animation: rotation 1s linear infinite;
  }

  @-webkit-keyframes rotation {
    0% {
      border-color: #F44336;
      border-top-color: transparent;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    25% {
      border-color: #4CAF50;
      border-top-color: transparent;
    }
    50% {
      border-color: #2196F3;
      border-top-color: transparent;
    }
    100% {
      border-color: #F44336;
      border-top-color: transparent;
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }

  @keyframes rotation {
    0% {
      border-color: #F44336;
      border-top-color: transparent;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    25% {
      border-color: #4CAF50;
      border-top-color: transparent;
    }
    50% {
      border-color: #2196F3;
      border-top-color: transparent;
    }
    100% {
      border-color: #F44336;
      border-top-color: transparent;
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }
